<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="planner.SampleMapper">

    <!-- 액세서리 옵션별 조회 -->
    <select id="selectSampleList">
        SELECT /* SampleMapper.selectSampleList */
               ACCESSORY_ID
          FROM
               SAMPLE
    </select>

</mapper>
